{% load static %}
<!-- Подвал начало -->
<footer>
    <!-- Подвал основное -->
    <section class="footer-Content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                    <h3 class="footer-logo">Ensopark</h3>
                    <div class="textwidget">
                        <p>ВСЕСЕЗОННЫЙ СПОРТИВНО-ТРЕНИРОВОЧНЫЙ КОМПЛЕКС</p>
                    </div>
                    <ul class="footer-social">
                        <li><a class="facebook" href="#"><i class="lni-instagram-filled"></i></a></li>
                        <li><a class="twitter" href="#"><i class="lni-instagram-filled"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                    <div class="widget">
                        <h3 class="block-title">Short Link</h3>
                        <ul class="menu">
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Advance Sarch</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                    <div class="widget">
                        <h3 class="block-title">Short Link</h3>
                        <ul class="menu">
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Advance Sarch</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                    <div class="widget">
                        <h3 class="block-title">Наши контакты</h3>
                        <ul class="contact-footer">
                            <li>
                                <strong>Адрес :</strong> <span>1900 Pico Blvd, New York br Centernial, colorado</span>
                            </li>
                            <li>
                                <strong>Телефон :</strong> <span>+48 123 456 789</span>
                            </li>
                            <li>
                                <strong>E-mail :</strong> <span><a href="#">info@example.com</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Подвал основное конец -->

    <!-- Авторское право  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info float-left">
                        <p>Crafted by <a href="http://uideck.com" rel="nofollow">UIdeck</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Авторское право конец -->

</footer>
<!-- Подвал конец -->




<!-- Go To Top Link -->
<a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
</a>

<!-- Модалка сохранения
  <div class="modal fade" id="modalSave" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Закажите обратный звонок!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-12 form-line">
                <div class="form-group">
                  <input id="name" type="text" class="form-control" name="email" placeholder="Имя">
                </div>
              </div>
              <div class="col-md-12 form-line">
                <div class="form-group">
                  <input id="phone" type="text" class="form-control" maxlength="12" name="phone" placeholder="Номер телефона">
                </div>
              </div>    
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-common btn-effect">Отправить</button>
        </div>
      </div>
    </div>
  </div> -->

<!-- Модалка записаться -->
<div class="modal fade" id="modalBuy" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Мы поможем в выборе активности.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 form-line">
                            <div class="form-group">
                                <input id="name" type="text" class="form-control" required name="email"
                                    placeholder="Имя">
                            </div>
                        </div>
                        <div class="col-md-12 form-line">
                            <div class="form-group">
                                <input id="phone" type="tel" class="form-control" pattern="[0-9]{+}" required
                                    minlength="12" maxlength="12" name="phone" placeholder="Номер телефона">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-common btn-effect">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>