{% load static %}
<!-- Подвал начало -->
<footer>
    <!-- Подвал основное -->
    <section class="footer-Content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                    <h3 class="footer-logo">Ensopark</h3>
                    <div class="textwidget">
                        <p>ВСЕСЕЗОННЫЙ СПОРТИВНО-ТРЕНИРОВОЧНЫЙ КОМПЛЕКС</p>
                    </div>
                    <ul class="footer-social">
                        <li><a class="" href="https://vk.com/arhwake"><img src="{% static 'img/icons/vk_icon_130793.svg' %}" alt=""></a></li>
                        <li><a class="" href="https://www.instagram.com/ensopark_arh/"><img src="{% static 'img/icons/Instagram_icon-icons.com_66804.svg' %}" alt=""></a></li>
                        <li><a class="" href="https://2gis.ru/arkhangelsk/firm/70000001018990004?m=40.565832%2C64.505655%2F15.11"><img src="{% static 'img/icons/2gis-seeklogo.com.svg' %}" alt=""></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                    <div class="widget">
                        <h3 class="block-title">Навигация</h3>
                        <ul class="menu">
                            <li><a href="{% url 'index' %}">Главная</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                            <li><a href="{% url 'news' %}">Новости</a></li>
                            <li><a href="{% url 'prices' %}">Цены</a></li>
      
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                    <div class="widget">
                        <h3 class="block-title"></h3>
                        <ul class="menu">
                            <li><a href="{% url 'gallery' %}">Галерея</a></li>
                            <li><a href="#">Схема парка</a></li>
                            <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                    <div class="widget">
                        <h3 class="block-title">Наши контакты</h3>
                        <ul class="contact-footer">
                            <li>
                                <strong>Адрес:</strong> <span> ​Деревня Бутырки, 11 ст1
                                    д. Бутырки, Приморский район, Архангельская область</span>
                            </li>
                            <li>
                                <strong>Телефон:</strong> <span>+7 (911) 594-52-52</span>
                            </li>
                            <li>
                                <strong>E-mail:</strong> <span><a href="#">arh.wake@gmail.com</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Подвал основное конец -->

    <!-- Авторское право  -->
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info float-left">
                        <p>Сделано в <a href="" rel="nofollow">Китае</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Авторское право конец -->

</footer>
<!-- Подвал конец -->

<!-- Кнопка вверх -->
<a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
</a>

