{% extends 'base.html' %}
{% load static %}

{% block title %} Контакты {% endblock title %}
{% block content %}

<!-- Контакты начало -->
<section id="contact" class="section">
    <div class="contact-form">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">НАШИ КОНТАКТЫ И СВЯЗЬ С НАМИ</h2>
                <p class="section-subtitle">Отправьте сообщение через контактную форму или воспользуйтесь указанными
                    способами связи</p>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-lg-9 col-md-9 col-xs-12">
                    <div class="contact-block">
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ contacts.name }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ contacts.email }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ contacts.description }}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button">
                                        <button class="btn btn-common btn-effect" id="submit"
                                            type="submit">Отправить</button>
                                        <div id="msgSubmit" class="h3 hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="contact-deatils">
                        <!-- Content Info -->
                        <div class="contact-info_area">
                            <div class="contact-info">
                                <i class="lni-map"></i>
                                <h5>Адрес</h5>
                                <p>​Деревня Бутырки, 11 ст1</p>
                                <p>д. Бутырки, Приморский район, Архангельская область</p>
                            </div>
                            <div class="contact-info">
                                <i class="lni-star"></i>
                                <h5>E-mail</h5>
                                <p>arh.wake@gmail.com</p>
                            </div>
                            <div class="contact-info">
                                <i class="lni-phone"></i>
                                <h5>Телефон</h5>
                                <p>+7 (911) 594-52-52</p>
                            </div>
                            <!-- Icon -->
                            <ul class="footer-social ">
                                <li><a class="" href="https://vk.com/arhwake"><img
                                            src="{% static 'img/icons/vk_icon_130793.svg' %}" alt=""></a></li>
                                <li><a class="" href="https://www.instagram.com/ensopark_arh/"><img
                                            src="{% static 'img/icons/Instagram_icon-icons.com_66804.svg' %}"
                                            alt=""></a></li>
                                <li><a class=""
                                        href="https://2gis.ru/arkhangelsk/firm/70000001018990004?m=40.565832%2C64.505655%2F15.11"><img
                                            src="{% static 'img/icons/2gis-seeklogo.com.svg' %}" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Контакты конец -->


{% endblock content %}