{% extends 'base.html' %}
{% load static %}

{% block title %} Контакты {% endblock title %}
{% block content %}

<!-- Contact Section Start -->
<section id="contact" class="section">
    <div class="contact-form">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Наши контакты</h2>
                <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
                    debitis.</p>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-lg-9 col-md-9 col-xs-12">
                    <div class="contact-block">
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name"
                                            placeholder="Ваше имя" required data-error="Введите ваше имя">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" placeholder="Ваш Email" id="email" class="form-control"
                                            name="name" required data-error="Введите ваш email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="Сообщение"
                                            rows="7"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button">
                                        <button class="btn btn-common btn-effect" id="submit"
                                            type="submit">Отправить</button>
                                        <div id="msgSubmit" class="h3 hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12">
                    <div class="contact-deatils">
                        <!-- Content Info -->
                        <div class="contact-info_area">
                            <div class="contact-info">
                                <i class="lni-map"></i>
                                <h5>Адрес</h5>
                                <p>1900 Pico Blvd, New York br Centernial, colorado</p>
                            </div>
                            <!-- Content Info -->
                            <div class="contact-info">
                                <i class="lni-star"></i>
                                <h5>E-mail</h5>
                                <p>info@example.com</p>
                            </div>
                            <!-- Content Info -->
                            <div class="contact-info">
                                <i class="lni-phone"></i>
                                <h5>Телефон</h5>
                                <p>+48 123 456 789</p>
                            </div>
                            <!-- Icon -->
                            <ul class="footer-social">
                                <li><a class="facebook" href="#"><i class="lni-instagram-filled"></i></a></li>
                                <li><a class="twitter" href="#"><i class="lni-instagram-filled"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<div class="d-flex justify-content-center mt-4">
    <a href="{% url 'index' %}" class="btn btn-common price-btn btn-effect">На главную</a>
</div>

{% endblock content %}