{% extends 'base.html' %}
{% load static %}

{% block title %} Главная {% endblock title %}

{% block content %}


<!-- Блог начало -->
<section id="blog" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">НОВОСТИ</h2>
            <p class="section-subtitle">АКТУАЛЬНАЯ ИНФОРМАЦИЯ О ПАРКЕ</p>
        </div>
        <div class="row">
            {% for el in page_obj %}

            <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
                <div class="blog-item-wrapper">
                    <div class="blog-item-img">
                        <a href="{{ el.get_absolute_url }}">
                            <img src="{{ el.image.url }}" width="450" height="250" alt="">
                        </a>
                    </div>
                    <div class="blog-item-text">
                        <div class="date"><i class="lni-calendar"></i>{{ el.date }}</div>
                        <h3><a href="{{ el.get_absolute_url }}">{{ el.title }}</a></h3>
                        <p>{{ el.anons }}</p>
                        <a href="{{ el.get_absolute_url }}" class="btn btn-common-blog mt-3 btn-effect">Подробнее</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <div class="d-flex justify-content-center mt-5">
            <a href="{% url 'news' %}" class="btn btn-common btn-effect">Все Новости</a>
        </div>
    </div>
</section>
<!-- Блог конец -->

<!-- Баннер 1 начало -->
<section class="call-action section">
    <div class="container">
        <div class="section-header">
            <div class="cta-trial text-center">
                <h2 class="section-title">СХЕМА КОМПЛЕКСА</h2>
                <p class="section-subtitle">Интерактивная схема комплекса откроется в новом окне</p>
                <a href="{% url 'index' %}" target="_blank" class="btn btn-common btn-effect">Интерактивная схема</a>
            </div>
        </div>
    </div>
</section>
<!-- Баннер 1 конец -->

<!-- Активности начало -->
<section id="features" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">СПИСОК АКТИВНОСТЕЙ</h2>
            <p class="section-subtitle">КАКОЙ ОТДЫХ ТЕБЕ ПО ДУШЕ</p>
            <div class="toggle-radio">
                <input type="radio" name="rdo" id="yes" checked>
                <input type="radio" name="rdo" id="no">
                <div class="switch">
                    <label for="yes">Зима</label>
                    <label for="no">Лето</label>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="activities">
            <!-- Зимние активности начало -->
            <div class="activity-winter row">
                <h1 class="activity-title col-lg-12">Подъемники</h1>
                {% for el in prices %}
                {% if el.season == 'зима' %}
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-content">
                            <div class="featured-icon winter">
                                <img src="{{ el.image.url }}" width="90" height="90" alt="">
                            </div>
                            <h4 class="winter">{{ el.title }}</h4>
                            <p>{{ el.description }}</p>
                            <!-- <div class="price mt-2">
                                {% if el.price_ad and el.price_ch %}
                                <span class="price-adults winter">Взрослый: {{ el.price_ad }} Р</span><br>
                                <span class="price-kids winter">Детский: {{ el.price_ch }} Р</span>
                                {% endif %}
                                {% if el.subscription %}
                                <span class="price-adults winter"> {{ el.subscription }} Р</span><br>
                                {% endif %}
                            </div> -->
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <!-- Зимние активности конец -->

            <!-- Летние активности начало -->
            <div class="activity-summer hidden row">
                <h1 class="activity-title col-lg-12">Гребная база</h1>
                {% for el in prices %}
                {% if el.season == 'лето' %}
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-content">
                            <div class="featured-icon winter">
                                <img src="{{ el.image.url }}" width="90" height="90" alt="">
                            </div>
                            <h4 class="summer">{{ el.title }}</h4>
                            <p>{{ el.description }}</p>
                            <!-- <div class="price mt-2">
                                {% if el.price_ad and el.price_ch %}
                                <span class="price-adults summer">Взрослый: {{ el.price_ad }} Р</span><br>
                                <span class="price-kids summer">Детский: {{ el.price_ch }} Р</span>
                                {% endif %}
                                {% if el.subscription %}
                                <span class="price-adults summer"> {{ el.subscription }} Р</span><br>
                                {% endif %}
                            </div> -->
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Летние активности конец -->
            <div class="d-flex justify-content-center mt-4">
                <a href="{% url 'prices' %}" class="btn btn-common price-btn btn-effect">Цены на услуги</a>
            </div>
        </div>
    </div>
</section>
<!-- Активности конец -->

<!-- Галерея начало -->
<section id="portfolios" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">ГАЛЕРЕЯ</h2>
            <p class="section-subtitle">ФОТОГАЛЕРЕЯ ПАРКА</p>
        </div>
        <div id="gallery" class="row">
            {% for img in gallery %}
            <!-- элемент картинки начало -->
            <div class="col-lg-3 col-md-6 col-xs-12 mix development print">
                <div class="portfolio-item">
                    <div class="shot-item">
                        <img src="{{ img.image.url }}" alt="">
                        <div class="single-content">
                            <div class="fancy-table">
                                <div class="table-cell">
                                    <div class="zoom-icon">
                                        <a href="{{ img.image.url }}" data-fancybox="#gallery"><i
                                                class="lni-zoom-in item-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- элемент картинки конец -->
            {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a href="{% url 'gallery' %}" class="btn btn-common btn-effect">Смотреть Все Фото</a>
    </div>
    </div>
</section>
<!-- Галерея конец -->

<!-- Видео начало -->
<section id="videos" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">ВИДЕО</h2>
            <!-- <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.
            </p> -->
        </div>

        <div class="row">
            <div class=" video-content col-lg-4 col-md-6 col-xs-12 mix development print">
                <iframe class="yotube" src="https://www.youtube.com/embed/IZUuOHvY_FQ" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class=" video-content col-lg-4 col-md-6 col-xs-12 mix development print">
                <iframe class="yotube" src="https://www.youtube.com/embed/IZUuOHvY_FQ" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class=" video-content col-lg-4 col-md-6 col-xs-12 mix development print">
                <iframe class="yotube" src="https://www.youtube.com/embed/IZUuOHvY_FQ" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<!-- Видео конец -->

<!-- Партнеры начало -->
<div id="clients" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">НАШИ ПАРТНЕРЫ</h2>
            <p class="section-subtitle">И НАШИ ДРУЗЬЯ</p>
        </div>
        <!-- Вывод партнеров -->
        <div class="row" id="clients-scroller">
            {% for img in partners %}
            <div class="client-item-wrapper">
                <a href="{{ img.adress }}"><img src="{{ img.image.url }}" width="200" height="200" alt=""></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Партнеры конец -->

<!-- Баннер 2 начало -->
<section class="section">
    <div class="container">
        <div class="section-header">
            <div class="cta-trial text-center">
                <h2 class="section-title">ВСЕГДА БЕСПЛАТНО</h2>
                <p class="section-subtitle">Вход на территорию парка свободный. Для вас всегда открытое пространство для
                    игровых видов спорта, комплекс турников, минирампа</p>
            </div>
        </div>
    </div>
</section>
<!-- Баннер 2 конец -->
{% endblock content %}



<!-- Слайдер начало -->
<!-- <div id="carousel-area">
    <div id="carousel-slider" class="carousel slide carousel-fade" data-ride="carousel">
    
        <div class="carousel-inner" role="listbox">
            {% for slide in slider_list %}
            <div class="carousel-item {{ slide.css }}">
                <img src="{{ slide.img.url }}" class="d-block w-100" alt="">
            </div>
            {% endfor %}
        
        <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
            <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-left"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
            <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-right"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div> -->
<!-- Слайдер Конец -->

<!-- Баннер 2 начало -->
<!-- <section id="cta" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="cta-text">
                    <h5>Stil confused? Download a free lite version to get started!</h5>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 text-right">
                <a href="#" class="btn btn-border">Download</a>
            </div>
        </div>
    </div>
</section> -->
<!-- Баннер 2 конец -->