{% extends 'base.html' %}
{% load static %}

{% block title %} Новости {% endblock title %}
{% block content %}

<!-- Features Section Start -->
<section id="features" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Список активностей</h2>
            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.
            </p>
            <div class="toggle-radio">
                <input type="radio" name="rdo" id="yes" checked>
                <input type="radio" name="rdo" id="no">
                <div class="switch">
                    <label for="yes">Зима</label>
                    <label for="no">Лето</label>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="activities">
            <div class="activity-winter row">
                <h1 class="activity-title col-lg-12">Подъемники</h1>
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon winter">
                            <i class="lni-layout"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="winter">Абонемент на горнолыжный день</h4>
                            <p>Все склоны, неограниченное количество подъемов в течение дня.</p>
                            <div class="price mt-2">
                                <span class="price-adults winter">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids winter">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon winter">
                            <i class="lni-tab"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="winter">Основной склон - 1 подъем</h4>
                            <p>Вы пополняете карту SKI-PASS и средства списываются при проходе турникета подъемника</p>
                            <div class="price mt-2">
                                <span class="price-adults winter">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids winter">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon winter">
                            <i class="lni-rocket"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="winter">Учебные склоны - 1 подъем</h4>
                            <p>Вы пополняете карту SKI-PASS и средства списываются при проходе турникета подъемника</p>
                            <div class="price mt-2">
                                <span class="price-adults winter">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids winter">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon winter">
                            <i class="lni-database"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="winter">Сезонный SKI-PASS</h4>
                            <p>Неограниченный доступ на подъемники парка в течение сезона. (Тюбинг не включен в
                                стоимость).</p>
                            <div class="price mt-2">
                                <span class="price-adults winter">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids winter">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon winter">
                            <i class="lni-leaf"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="winter">Детская школа</h4>
                            <p>Детская горнолыжная школа для детей от 3-х лет</p>
                            <div class="price mt-2">
                                <span class="price-adults winter">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids winter">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon winter">
                            <i class="lni-pencil"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="winter">Склоны</h4>
                            <p>Схема склонов и инфраструктуры экстрим-парка</p>
                            <div class="price mt-2">
                                <span class="price-adults winter">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids winter">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
            </div>
            <div class="activity-summer hidden row">
                <h1 class="activity-title col-lg-12">Гребная база</h1>
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon summer">
                            <i class="lni-layout"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="summer">Аренда каяка 1-местный, 1 час</h4>
                            <p>В стоимость аренды входит весло и спасжилет</p>
                            <div class="price mt-2">
                                <span class="price-adults summer">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids summer">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon summer">
                            <i class="lni-tab"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="summer">Аренда каяка 1-местный Pro, 1 час</h4>
                            <p>В стоимость аренды входит весло и спасжилет</p>
                            <div class="price mt-2">
                                <span class="price-adults summer">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids summer">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon summer">
                            <i class="lni-rocket"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="summer">Аренда каяка 2-местный, 1 час</h4>
                            <p>В стоимость аренды входит весло и спасжилет</p>
                            <div class="price mt-2">
                                <span class="price-adults summer">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids summer">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon summer">
                            <i class="lni-database"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="summer">Аренда каяка "Долли", 1 час</h4>
                            <p>В стоимость аренды входит весло и спасжилет</p>
                            <div class="price mt-2">
                                <span class="price-adults summer">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids summer">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon summer">
                            <i class="lni-leaf"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="summer">Аренда надувной доски SUP</h4>
                            <p>Стоимость аренда указана за 1 час. При аренде в группе или для проведения мероприятий с
                                SUP на воде возможны значительные скидки. Уточняйте условия по телефону.</p>
                            <div class="price mt-2">
                                <span class="price-adults summer">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids summer">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
                <!-- Start featured -->
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="featured-box">
                        <div class="featured-icon summer">
                            <i class="lni-pencil"></i>
                        </div>
                        <div class="featured-content">
                            <div class="icon-o"></div>
                            <h4 class="summer">Склоны</h4>
                            <p>Схема склонов и инфраструктуры экстрим-парка</p>
                            <div class="price mt-2">
                                <span class="price-adults summer">Взрослый: 700/1000 Р</span><br>
                                <span class="price-kids summer">Детский: 700/1000 Р</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End featured -->
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Features Section End -->

<div class="d-flex justify-content-center mt-4">
    <a href="{% url 'index' %}" class="btn btn-common price-btn btn-effect">На главную</a>
</div>

{% endblock content %}