
<!-- Блог начало -->
<section id="blog" class="section">
    <!-- Container Starts -->
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Какая то активность</h2>
      </div>
      <div class="price-detail d-flex">
        <div class="price-detail-photo">
            <div class="col-lg-12">
                <img src="img/blog/img1.jpg" alt="">
            </div>
        </div>
        <div class="price-detail-content">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h1 class="activity-detail-title winter">Лыжи хуижи</h1>
                <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nesciunt quasi enim similique delectus, doloremque beatae laborum eum quam vitae dicta voluptas ut nostrum, dignissimos sapiente modi reprehenderit iure earum possimus eveniet ducimus sit! Voluptates neque iusto sed itaque quaerat.</p>
                <div class="price mt-3">
                    <span class="price-adults winter">Взрослый: 700/1000 Р</span><br>
                    <span class="price-kids winter">Детский: 700/1000 Р</span>
                  </div>
                <a href="#" class="btn appointment-detail btn-common price-btn btn-effect mt-5">Записаться к инструктору</a>    
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Блог конец -->
